<div style="text-align:center;width:75%;margin-top:6rem">
  <h1 style="font-size:.75rem">
    Enter your email address and submit to request a new password reset. You will receive a link by email to reset your password.

  </h1>
  <p>
    <span>Email:</span>
    <span>
      <input type="email" (keyup)='keyUp.next($event)' required email #email style="padding:.74rem;color:blue;font-size:1.4rem"
      />
    </span>
  </p>
  <p>
    <button [disabled]="this.passwordSent|| !emailValid" (click)="requestNewPassword(email.value)">Request Reset Password</button>
  </p>
  <p *ngIf="this.passwordSent">
    Your password request has been sent. Please check your emails for further details.
  </p>
</div>
